<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@AppBundle/Resources/public/css/lib/bootstrap.min.css' 
                '@AppBundle/Resources/public/css/main.css' 
                filter='cssrewrite'
                output='css/style.css' %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}{% endblock %}

    {% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/lib/jquery-3.2.1.min.js'
    '@AppBundle/Resources/public/js/lib/bootstrap.min.js'
    output='js/scripts.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $.ajax({ 
                type: 'POST',
                dataType: 'text',
                url: '{{ path('_app_display') }}', 
                data: {},
                success: function(data) { 
                    $('#feedback').html(data);
                }
            });
        });
    </script>
    {% endblock %}
    </body>
</html>
