<div class="container">
    <div class="row">
        <div class="col-sm-4">
            {% for row in example %}
                {{ row.name }}<br>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{ form_start(form, {attr: {'action': path('_app_display'), id: 'form', novalidate: 'novalidate'}}) }}
                <div class="form-group">
                    {{ form_label(form.name, null, {'label_attr': {'class': ''}})}}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.name) }}
                </dvi>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ 'Submit'|trans }}</button>
                </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script>
if ("undefined"!==typeof jQuery) {
    $("#form").submit(function(e){
        e.preventDefault();
        $.ajax({ 
            type: 'POST',
            dataType: 'text',
            url:  $(this).attr('action'), 
            data: $(this).serialize(),
            success: function(data) { 
                $('#feedback').html(data);
            }
        });
    });
}
</script>